body{
    font-family: serif;
    font-size:18px;
    margin: 40px auto;
    max-width: 820px;
    background:#c5c7ab; /* #b6c26d;*/
    padding:0 20px
    color: #333;
}

.abstract { font-weight: bold; }

a {
    color: #333;
    text-decoration: underline;
    font-weight: normal;
}

a[target="_blank"] { font-weight: normal; }

/* Styling code blocks and their outputs */
/* pre { */
/*   display: block; */
/*   background: #2E3440; */
/*   white-space: pre; */
/*   -webkit-overflow-scrolling: touch; */
/*   overflow-x: auto; */
/*   max-width: 100%; */
/*   min-width: 100px; */
/*   padding: 16px; */
/*   border-radius: 6px; */
/*   font-size: 14px; */
/*   color: #dcdccc; /\* Zenburn specific *\/ */
/* } */

/* pre.example { */
/*   background: #ECEFF4; */
/*   font-size: 13px; */
/*   color: #5E81AC; */
/* } */


h1 {
   font-family: 'DejaVu Sans Mono', monospace;
    display: block;
    font-size: 1.4em;
    margin-top: 0.67em;
    margin-bottom: 0.34em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.2em;
    margin-top: 0.67em;
    margin-bottom: 0.34em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    margin-top: 0.67em;
    margin-bottom: 0.34em;
}



.title {
    font-family: 'DejaVu Sans Mono', monospace;
    font-weight: bold;
}    



.verse {
    font-style: italic;
}

Footer {
    display: block;
    font-weight: normal;
    font-style: italic;

}


body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* h1 { */

/*     font-size: 64px; */
/*     font-weight: 300; */
/*     line-height: 125%; */
/*     color: #232323; */
/*     margin: 0px; */
/* } */

/* h2 { */
/*     font-family: 'Fraunces', serif; */
/*     font-size: 36px; */
/*     font-weight: 300; */
/*     line-height: 125%; */
/*     color: #232323; */
/*     margin: 0px; */
/* } */

/* h3 { */
/*     font-family: 'Fraunces', serif; */
/*     font-size: 36px; */
/*     font-weight: 300; */
/*     font-style: italic; */
/*     line-height: 125%; */
/*     color: #232323; */
/*     margin-top: 24px; */
/*     margin-bottom: 0px; */
/* } */

/* h4 { */
/*     font-family: 'Fraunces', serif; */
/*     font-size: 36px; */
/*     font-weight: 400; */
/*     line-height: 125%; */
/*     color: #232323; */
/*     margin: 0px; */
/* } */

/* .aboutText a { */
/*     font-family: 'Fraunces', serif; */
/*     font-size: 22px; */
/*     font-weight: 300; */
/*     line-height: 150%; */
/*     color: #232323; */
/*     margin: 0px; */
/*     text-decoration: underline; */
/* } */

/* h5 { */
/*     font-family: 'Roboto Mono', monospace; */
/*     font-size: 13px; */
/*     font-weight: 400; */
/*     line-height: 125%; */
/*     color: #232323; */
/*     margin: 0px; */
/* } */

/* p { */
/*     font-family: 'Fraunces', serif; */
/*     font-size: 22px; */
/*     font-weight: 300; */
/*     line-height: 150%; */
/*     color: #232323; */
/*     margin: 0px; */
/* } */

/* ul { */
/*     font-family: 'Fraunces', serif; */
/*     font-size: 22px; */
/*     font-weight: 300; */
/*     line-height: 150%; */
/*     color: #232323; */
/*     margin: 0px; */
/*     padding-left: 16px; */
/* } */

/* li { */
/*     margin-top: 16px; */
/* } */

/* strong { */
/*     font-weight: 400; */
/* } */

/* .caption { */
/*     color: #656568; */
/*     margin-top: 12px; */
/* } */

/* a, a :visited { */
/*     font-family: 'Fraunces', serif; */
/*     font-size: 22px; */
/*     font-weight: 300; */
/*     line-height: 150%; */
/*     color: #232323; */
/*     text-decoration: none; */
/* } */

/* .galleryProjectTitle a:hover { */
/*     text-decoration: underline; */
/* } */

/* .projectDetails a { */
/*     font-family: 'Roboto Mono', monospace; */
/*     font-size: 13px; */
/*     font-weight: 400; */
/*     line-height: 125%; */
/*     color: #232323; */
/*     text-decoration: none; */
/* } */

/* .projectDetails a:hover { */
/*     text-decoration: underline; */
/* } */

/* .projectText a { */
/*     text-decoration: underline; */
/*     font-weight: 300; */
/* } */

/* .projectText a:hover { */
/*     text-decoration: none; */
/* } */

/* .nextProject a { */
/*     text-decoration: underline; */
/* } */

/* .nextProject a:hover { */
/*     text-decoration: none; */
/* } */

/* .aboutWriting a { */
/*     text-decoration: underline; */
/* } */

/* .aboutWriting a:hover { */
/*     text-decoration: none; */
/* } */

/* .aboutText a:hover { */
/*     text-decoration: none; */
/* } */

/* @media screen and (max-width: 768px) { */
/*     h1 { */
/*         font-size: 40px; */
/*     } */

/*     h2, h3, h4 { */
/*         font-size: 24px; */
/*     } */

/*     p, .aboutText a, a, a :visited, ul { */
/*         font-size: 20px; */
/*     } */

/* } */
